NET "sensor_one”            LOC= "F12";
NET “sensor_two”            LOC= "G12";
NET “sensor_three”            LOC= "H14"; 
NET “sensor_four”            LOC= "H13"; 
NET “clk”            LOC= ""; 
NET “rst_n”            LOC= ""; 
NET “light_one”            LOC= ""; 
NET “light_two”            LOC= ""; 
NET “light_three”            LOC= ""; 
NET “light_four”            LOC= ""; 
NET “ped_one”            LOC= " K12"; 
NET “ped_two”            LOC= " P14"; 
NET “ped_three”            LOC= " L12"; 
NET “ped_four”            LOC= " N14"; 
NET “ped_five”            LOC= "P13"; 
NET “ped_six”            LOC= "N12"; 
NET “ped_seven”            LOC= "P12"; 
NET “ped_eight”            LOC= "P11"; 
NET “counter_1s”            LOC= ""; 
NET “delay_count”            LOC= ""; 
NET “delay_red10s_12”            LOC= "M2"; 
NET “delay_red3s_12”            LOC= "K1"; 
NET “delay_red10s_34”            LOC= "J1"; 
NET “delay_red3s_34”            LOC= "C2"; 
NET “delay_green10s_12”            LOC= "D2"; 
NET “delay_green3s_12”            LOC= "G1"; 
NET “delay_green10s_34”            LOC= "F5"; 
NET “delay_green3s_34”            LOC= "C3"; 
NET “delay_yellow3s_12”            LOC= "K2"; 
NET “delay_yellow3s_34”            LOC= "M1"; 
NET “red_en10s_12”            LOC= "N1"; 
NET “red_en3s_12”            LOC= "N7"; 
NET “red_en10s_34”            LOC= "T8"; 
NET “red_en3s_34”            LOC= "R6"; 
NET “green_en10s_12”            LOC= "T5"; 
NET “green_en3s_12”            LOC= "R5"; 
NET “green_en10s_34”            LOC= "C2"; 
NET “green_en3s_34”            LOC= "C1"; 
NET “yellow_en3s_12”            LOC= "B1"; 
NET “yellow_en3s_34”            LOC= "D3"; 
NET “red_en10s_1256”            LOC= "P8"; 
NET “red_en3s_1256”            LOC= "F2"; 
NET “red_en10s_3478”            LOC= "H1"; 
NET “red_en3s_3478”            LOC= "J2"; 
NET “green_en10s_1256”            LOC= "L2"; 
NET “green_en3s_1256”            LOC= "P1"; 
NET “green_en10s_3478”            LOC= "R1"; 
NET “green_en3s_3478”            LOC= ""; 
NET “clk_en1s”            LOC= ""; 
NET “current_state”            LOC= ""; 
NET “next_state”            LOC= "";
